extends wiki
block content
  div(id='tool')
    nav.menu
      a.menu-item.selected(href='#', onclick='return false', aria-label='토론을 블라인드 합니다.') 블라인드
      a.menu-item(href='/topic/' + title2, aria-label='문서의 내용을 읽습니다.') 토론보기
  h1= title
  form#usrform(method='POST', action='/topic/' + title2 + '/b' + number)
    dl.form-group
      dt
        label(for="content") 정말로 블라인드 하시겠습니까?
      dd
        .form-actions
           button.btn.btn-primary(type='submit') 블라인드
