extends wiki
block content
  h1.title 검색 결과
  ul
    each val in data
      li
        a({href="/w/" + val})= val
block menu
  nav.menu
    a.menu-item(onclick='history.back(-1)', aria-label='이전 위치로 돌아갑니다.') 이전으로
