extends wiki
block content
  div(id='tool')
    nav.menu
      a.menu-item.selected(href='#', onclick='return false', aria-label="이 문서에 대해 토론 합니다.") 토론하기
      a.menu-item(href='/w/' + title, aria-label='문서의 내용을 읽습니다.') 문서보기
  h1.title= title
  div(id='content')!= content
  form#usrform(method='POST', action='/topic/' + title)
    dl.form-group
      dt
        label(for="content") 토론 참여
      dd
        textarea(rows='10', cols='100', name='content', form='usrform')
        .form-actions
          button.btn.btn-primary(type='submit') 전송