extends wiki
block content
    h1.title 오픈나무 버전 0.7 베타
    h2 패치 내역
    h3 0.1
    br
    li 기초 설립
    h3 0.2
    br
    li 파서 개선
    h3 0.3
    br
    li <s>사실 0.1 / 0.2 패치 내역이 기억이 잘 안난다.</s>
    li 파서 <b>많이</b> 개선 <s>갈아 엎었다.</s>
    li jade에서 pug로 변경
    li 디자인 개선
    h3 0.4
    br
    li <a class="out_link" href="https://github.com/teamatus/openNAMU/pull/15"><span class="contect">外</span>붉은 링크 지원</a>
    li 각주 기능 개선
    li 인용문 개선
    li 그 이 외 여러 기능
    h3 0.5 (파일 버전 첫 시작)
    br
    li <s>DB 도입</s>
    li 파일 형식으로 변경
    li 다양한 기능 제작중
    li 파서 일부 변경 및 include 지원
    h3 0.6
    br
    li 파일 인코딩
    li 기초적인 차단 기능과 어드민 기능
    li 패비콘 버그 수정
    li 기초적인 토론
    li 알파 -> 베타
    h3 0.7 
    br
    li 디자인 개선
    li 역사 보기
    li 라이선스
    li 위키 이름
    li 최근 바뀜
    li 기타 잡 패치
    h3 0.8 (진행 중) [완료는 -]
    br
    li include 기능 강화
    li 그냥 html 넣으면 안 먹히게
    li 세팅 개선
    h3 노력 중 (진행 중)
    br
    li 램 캐시
    h2 개발 3 원칙
    br
    li 나 (2DU) 쓰기 편한 엔진을 만들자
    li DB 쓰지 말자
    li 쓰기 쉽게 만들자
    h2 라이선스
    br
    li Quote Icon <a href="http://www.flaticon.com/free-icon/quote-left_25672">Dave Gandy</a> CC 3.0 BY